#body{
}
#title{
    margin: 20px;
}
.todo-container> div{
    display: inline;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
}
.todo-container{
    margin-bottom: 20px;
}
#counter-div>h3{
    display: inline;
}
#counter-div{
    margin: 20px;
}
#version-div>h3{
    display: inline;
}
#version-div{
    margin: 20px;
}
#version{
    margin-right: 50px;
}
.checked{
    color:red;
    text-decoration-line: line-through;
    text-decoration-thickness: 5px;
}
.checkbox{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.priority-change-button{
    margin-right:10px;
}

#control-section{
    border-bottom: solid;
    padding-bottom: 20px;
}


#view-section{
    text-align: center;
    width: 98vw;
    height: 100vh;
    padding-top: 30px;
    margin-top: 30px;
    border: solid red;
    background-color: rgb(255,0,0,0.3);
    
}
#undo-button{
    width: 20px;
    margin-left: 5px;
    border: solid;
    border-width: 2px;
    padding: 3px;
    position: relative;
    top: 10px;
    background-color: rgba(184, 184, 184, 0.438);
    box-shadow: 1px 1px black;
}
#undo-button:hover{
    cursor: pointer;
}
#undo-button:active{
    border-width: 3px;
    background-color:rgb(219, 216, 216);
}

#toolbar{
    text-align: center;
    position: fixed;
    z-index: 2;
    left: 40vw;
    top: 0%;
}
#toolbar-title{
    border: solid;
    position: relative;
    
}
#tools{
    border: solid;
    padding-bottom: 20px;
    position: relative;
}

.toolbar-button{
    margin: 5px;
}

.not-sticking{
    width: 400px;
    background-color: rgba(0, 128, 0, 0.521);
}
.stick-left{
    width: 200px;
    height: 100vh;
    background-color: red;
    float: left;
    display: flex;

}
/* .stick-right{
    background-color: blue;
    height: 100vh;
    float: right;
    display: block;

} */

.stick-left> #toolbar-title{
    width:50%;
    height: 100vh;
}
.stick-left> #tools{
    width:50%;
    height: 100vh;

}