body{
    text-align: center;
}

.todo-container> div{
    display: inline;
    /* margin-right: 10px; */
    font-weight: bold;
    font-size: large;
}
#counter-div>h3{
    display: inline;
}
#counter-div{
    margin-bottom: 20px;
}
#sort-button{
    margin-left: 20px;
}
.checked{
    color:red;
    text-decoration-line: line-through;
    text-decoration-thickness: 5px;
}