
.todo-container> div{
    display: inline;
    margin-right: 10px;
    font-weight: bold;
    font-size: large;
}
#counter-div>h3{
    display: inline;
}
#counter-div{
    margin-bottom: 20px;
}
#sort-button{
    margin-left: 20px;
}
.checked{
    color:red;
    text-decoration-line: line-through;
    text-decoration-thickness: 5px;
}
.checkbox{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.priority-change-button{
    margin-right:10px;
}


.list-section{
    text-align: center;
    width: 48vw;
    height: 100vh;
    padding-top: 30px;
    margin-top: 30px;
}
#view-section{
    float: left;
    background-color: red;
    
}
#done-section{
    float: right;
    background-color: green;



}